<ion-header>
  <ion-toolbar>
    <ion-title>program</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
    <ion-col>
      <div *ngFor="let dayCheck of (programData2);let i = index;">
        {{(!dayCheck.isChecked) && (dayCheck.isConfig === false)? "" : dayCheck.weekDay}}
      </div>

        <ion-item *ngFor="let youtuber of programData2[0].getData; let i = index;">
          <ion-col>
            {{youtuber.name}}
          </ion-col>
          <div></div>
          <ion-col>
          {{youtuber.time}}
          </ion-col>
          <ion-col>
            {{youtuber.temperature}}
          </ion-col>
        </ion-item>
    </ion-col>
  </ion-card>
</ion-content>
