<ion-header>
  <ion-toolbar>
    <ion-title>nextPage</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class= "ion-button-class">
  <ion-card>
    <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
    <ion-col>

      <div *ngFor="let day of (dataWeek)">
<!--          {{(day.isChecked ) && (!day.isConfig === false)? "" : day.weekDay}}-->
        {{(day.isChecked) && (day.isConfig === false)? "" : day.max}}
          </div>
    </ion-col>
<div></div>
      <div></div>
      <ion-item *ngFor="let youtuber of dataWeek[0].getData; let i = index;">
          <ion-col>
              {{youtuber.name}}
          </ion-col>
          <div></div>
          <ion-col>
              <ion-input type="text" [(ngModel)] = "youtuber.time"></ion-input>
          </ion-col>
          <ion-col>
              <ion-input type="text"  [(ngModel)] = "youtuber.temperature"></ion-input>
          </ion-col>
      </ion-item>

    <ion-row>
      <ion-col no-padding>
        <ion-button  no-margin ion-button full large >CANCEL</ion-button>
      </ion-col>
      <ion-col no-padding>
        <ion-button (click) ="nextData()" no-margin ion-button full large >NEXT</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
