<ion-header>
  <ion-toolbar>
    <ion-title>add</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let day of checkData;let i = index;">
        <ion-button expand ="block" size="large"><br>
          <ion-checkbox slot="start" (ionChange)="checkDataView()" [(ngModel)]= "checkData[i].isChecked"></ion-checkbox>
          <ion-col text-center>
            <p>{{day.userDay}}</p>
          </ion-col>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col no-padding>
        <ion-button (click)="cancel()" no-margin ion-button full large >CANCEL</ion-button>
      </ion-col>
      <ion-col no-padding>
        <ion-button (click)="next()" no-margin ion-button full large >NEXT</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

